# Vs Code Settings
.vscode/*

# Virtual Environment
venv/*

# Compiled Python
__pycache__/
*.pyc

# Package Artifacts
*.egg-info/

# Logs
logs/*.log
logs/*.txt
!logs/.gitkeep 
!logs/README.md

# FPS Record (track personal best)
!fps_record.txt 