# TODO eventually set specific versions
numpy
soundfile
PyWavelets
matplotlib
pyqtgraph
pycudwt
scipy

# If PyQt5 says something like:
# "AttributeError: module 'sipbuild.api' has no attribute 'prepare_metadata_for_build_wheel'" 
# Run "$ pip install --upgrade pip setuptools wheel"
PyQt5